.App {
  text-align: center;
  background: beige;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar {
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: red;
}

.genre-filter {
  margin-top: 40px;
  width: 200px;
  column-width: 100px;
  background-color: aqua;
}